<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP SD</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/adicionar.css' %}" />
  </head>
  <body>
    <header class="header">
      <nav class="header__navegacao">
        <ul class="header__menu">
          <li class="header__item">
            <a class="header__link" href="index.html">Artigos publicados</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="adicionar.html">Adicionar artigo</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="artigos">Rest Framework</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="adicionar">
      <form
        action="/artigos/"
        method="POST"
        role="form"
        class="adicionar__form"
        id="myForm"
      >
        {% csrf_token %}
        <div class="form__titulo">
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" />
        </div>
        <div class="form__autores">
          <label>Autores:</label>
          <input type="text" id="autor" class="autor" />
          <button type="button" id="adcAutor">+</button>
        </div>
        <div class="form__insti">
          <label for="intituicao">Instituição:</label>
          <input type="text" id="intituicao" />
        </div>
        <div class="form_revista">
          <label for="revista">Revista:</label>
          <input type="text" id="revista" />
        </div>
        <div class="form__div">
          <div class="form__dataPublicacao">
            <label for="dataPublicacao">Data de publicação:</label>
            <input type="date" id="dataPublicacao" />
          </div>
          <div class="form_doi">
            <label for="doi">DOI:</label>
            <input type="text" id="doi" />
          </div>
        </div>
        <div class="form__palavraChave">
          <label>Palavras chave:</label>
          <input type="text" id="palavraChave" class="palavraChave" />
          <button type="button" id="adcPalavra">+</button>
        </div>
        <div class="form__resumo">
          <label for="resumo">Resumo:</label>
          <textarea name="resumo" id="resumo" cols="100" rows="7"></textarea>
        </div>
        <div class="form__abstract">
          <label for="resume">Abstract:</label>
          <textarea name="resume" id="resume" cols="100" rows="7"></textarea>
        </div>
        <div class="form__direitos">
          <label for="direitos">Direitos:</label>
          <input type="text" id="direitos" />
        </div>
        <button id="adc">Adicionar artigo</button>
      </form>
    </section>
    <script src="{% static 'js/adicionar.js' %}"></script>
  </body>
</html>
