<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP SD</title>
    {% load static %} <link rel="stylesheet" href="{% static "./reset.css" %}"/>
    <link rel="stylesheet" href="{% static "./styles.css" %}"/>
  </head>
  <body>
    <header class="header">
      <nav class="header__navegacao">
        <ul class="header__menu">
          <li class="header__item">
            <a class="header__link" href="index.html">Artigos publicados</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="adicionar.html">Adicionar artigo</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="artigos"></section>
    <script src="{% static 'index.js'%}"></script>
  </body>
</html>
